<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scabies Detection</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Helvetica+Rounded:wght@700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    <link rel="stylesheet" href="static/index.css" />
  </head>
  <body>
    <div class="main-container">

      <!-- header and hero -->
      <div class="flex-row-bd">
        <div class="ellipse"></div>
        <div class="frame-27"></div>

        <header class="header-section">
          <button style="border: none; " class="logo-text"><div class="scabies-detection">
            <span class="d">S</span><span class="detection">cabies</span
            ><span class="nbsp"> </span><span class="d-16">D</span
            ><span class="detection-17">etection</span>
          </div>
         </button>
        <div class="frame-29">
          <a href="/" class="home-2a">Home</a>
          <a href="/detect.html" class="detect-2b">Detect</a>
            <a href="/contact.html" class="contact-us-2c">Contact us</a>
          </div>
          <button class="rectangle"><span class="detect-28">Detect</span></button>
          <div class="hamburger">
            <div class="lineii"></div>
            <div class="lineii"></div>
            <div class="lineii"></div>
          </div>

        </header>
        <div class="fast-accurate-scabies-detection">
          <span class="fast-accurate-scabies-detection-2d"
            >Fast and Accurate Scabies Detection<br />for a </span
          ><span class="healthier-tomorrow">Healthier Tomorrow</span>
        </div>
        <div class="diffi-cont">
        <div class="frame-2e"><div class="rectangle-2f"></div></div>
        <span class="scabies-contagious-skin-condition"
          >Scabies is a contagious skin condition caused by mites, leading to
          intense itching and a rash. It spreads through close contact and
          is treated with medications that kill the mites.</span
        >
        <div class="frame-3e"><div class="rectangle-3f"></div></div>
      </div>
        <div class="frame-30"></div>
        
        <div class="component"><div class="solar-arrow-up-outline"></div></div>
      </div>



      <div class="flex-row-fb">
        <div class="frame-31"></div>
        <span class="using-process">Using Process</span>
        <div class="vector-32"></div>
        <div class="frame-33">
          <div class="frame-34">
            <div class="frame-35">
              <div class="frame-35-icon-cont"><div class="icon-cont-icon first"></div></div>
              <span class="frame-35-text"
                >Tick Picture<br />of your self</span
              >
            </div>
            <div class="frame-35">
              <div class="frame-35-icon-cont ">
                <div class="icon-cont-icon sec"></div>
              </div>
              <span class="frame-35-text">Upload<br />your Image</span>
            </div>
            <div class="frame-35">
              <div class="frame-35-icon-cont ">
                <div class="icon-cont-icon third"></div>
              </div>
              <span class="frame-35-text">Wait<br />for Result</span>
            </div>
            <div class="frame-35">
              <div class="frame-35-icon-cont ">
                <div class="icon-cont-icon fourth"></div>
              </div>
              <span class="frame-35-text">Get<br />your Result</span>
            </div>
          </div>
        </div>
      </div>


      <!-- flex text and image 1  -->
      <div class="container-of-flex-image">
      <div class="frame">
        <div class="frame-sub-dev">
       
        <div class="frame-1">
          <div class="frame-2">
            <span class="symptoms-of-scabies"
            >What are the symptoms of scabies?</span>
            <ol class="normal-p-tag">
              <li ><strong>Intense Itching:</strong> Often worse at night.</li>
              <li><strong>Rash:</strong>  Small, red bumps or blisters, some times forming lines, commonly found between fingers, wrists, elbows, armpits, waistline, and groin</li>
              <li><strong>Sores:</strong>   Resulting from continuous scratching, which may become infected.</li>
              <li><strong>Burrows:</strong>  Thin, irregular lines on the skin where
                the mites have burrowed.</li>
            </ol>
          </div>
          <div class="frame-7"></div>
        </div>
       </div>
      </div>
    </div>

     <!-- flex text and image 2 -->
     <div class="container-of-flex-image">
      <div class="frame">
        <div class="frame-sub-dev">
        <div style="flex-direction: row-reverse;" class="frame-1">
          <div class="frame-2">
            <span class="symptoms-of-scabies"
            >What are the symptoms of scabies?</span>
            <ol class="normal-p-tag">
              <li ><strong>Intense Itching:</strong> Often worse at night.</li>
              <li><strong>Rash:</strong>  Small, red bumps or blisters, some times forming lines, commonly found between fingers, wrists, elbows, armpits, waistline, and groin</li>
              <li><strong>Sores:</strong>   Resulting from continuous scratching, which may become infected.</li>
              <li><strong>Burrows:</strong>  Thin, irregular lines on the skin where
                the mites have burrowed.</li>
            </ol>
          </div>
          <div class="frame-7 sec-image"></div>
        </div>
       </div>
      </div>
    </div>

<!-- footer -->

<div class="line"></div>
      <footer class="div-container">
        <div class="div-cont-sub">
        <div class="div-row">
          <div class="scabies-detection">
            <span class="d">S</span><span class="detection">cabies</span
            ><span class="nbsp"> </span><span class="d-16">D</span
            ><span class="detection-17">etection</span>
          </div>
          <div class="frame-18">
            <a href="/"
            class="home-19">Home</a>
            <a href="/detect.html" class="detect">Detect</a
            ><a 
            href="/contact.html" class="contact-us">Contact us</a>
          </div>
          
          <div class="nav">
            <a href="https://www.facebook.com" class="link" target="_blank">
              <div class="icon"><div class="vector"></div></div>
            </a>
            <a href="https://www.twitter.com" class="link-1a" target="_blank">
              <div class="icon-1b"><div class="vector-1c"></div></div>
            </a>
            <a href="https://www.instagram.com" class="link-1d" target="_blank">
              <div class="icon-1e"><div class="vector-1f"></div></div>
            </a>
            <a href="https://www.linkedin.com" class="link-20" target="_blank">
              <div class="icon-21"><div class="vector-22"></div></div>
            </a>
            <a href="https://www.youtube.com" class="link-23" target="_blank">
              <div class="icon-24"><div class="vector-25"></div></div>
            </a>
          </div>
        </div>
      </div>


      <div class="line-26"></div>
      <footer class="footer-last-part">
      <div class="flex-row-a">
        <div class="regroup">
          <span class="privacy-policy">Privacy Policy</span
          ><span class="cookies-settings">Cookies Settings</span>
        </div>
        <span class="all-rights-reserved"
          >©2024 Scabies Detection. All rights reserved</span
        >
      </div>
    </footer>



      </div>
  
  </body>
</html>
